<!-- <h1>Welcome!</h1> -->

<div class="container">
    <div style="font-size: 40px;">
        Welcome 
        <span style="color:green">{{name}}</span>
    </div> 

    <div *ngIf='hardcodedAuthenticationService.isAdminLoggedIn()' 
    style="margin-left:10mm;margin-top:5mm;font-size: 20px;">
        You can manage your store <a routerLink = "/todos">here</a>
    </div>

    <div *ngIf='hardcodedAuthenticationService.isCustomerLoggedIn()'
    style="margin-left:10mm;margin-top:5mm;font-size: 20px;">
        You can visit the store <a routerLink = "/products">here</a>
    </div>

</div>

<!-- <div class="container">
    <img src="assets/Images/sumeet.jpg" class="img" width="50" height="50">
</div> -->

<!-- <div class="container">
    Click here to get the customized welcome message
    <button (click) = 'getWelcomeMessageWithParameter()' class="btn btn-success">Get Welcome Message</button>
</div>   

<div class="container" *ngIf='welcomeMessageFromService'>
    <h2>Your Customized Welcome Message:</h2>
    {{welcomeMessageFromService}}
</div>    -->

